構築フィードバック/動作上のエラー/ケース3/音声画像認識検証ワークフロー.yml
app:
  description: '音声ファイルまたは画像ファイルを入力として受け取り、ファイルタイプに応じて適切な認識処理を実行し、結果をGoogle Sheetsに記録した後、ユーザーに返すワークフロー'
  icon: "\U0001F3A4"
  icon_background: '#D4E9FF'
  mode: advanced-chat
  name: 音声・画像認識統合処理ワークフロー
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: lysonober/openai_audio:0.0.4@2a7bc1307f6d4337b597cafe1c75f20e0fabf0dd8132a0a4e04496b3c949c86c
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: omluc/google_sheets:0.0.2@17f06eaa1d905595e1a76460e7249707a722142353d551cf14aed3d8517c134f
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: true
      allowed_file_types:
        - audio
        - image
        - document
      allowed_file_extensions:
        - .MP3
        - .MP4
        - .MPEG
        - .MPGA
        - .M4A
        - .WAV
        - .WEBM
        - .JPG
        - .JPEG
        - .PNG
        - .WEBP
        - .HEIC
        - .PDF
      fileUploadConfig:
        audio_file_size_limit: 50
        image_file_size_limit: 10
        file_size_limit: 15
        workflow_file_upload_limit: 10
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: if-else
      id: 1735876412467-source-start-target-file_type_check
      selected: false
      source: start
      sourceHandle: source
      target: file_type_check
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: tool
      id: 1735876412468-source-file_type_check-audio_case-target-audio_transcription_node
      selected: false
      source: file_type_check
      sourceHandle: audio_case
      target: audio_transcription_node
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: llm
      id: 1735876412469-source-file_type_check-image_case-target-image_recognition_node
      selected: false
      source: file_type_check
      sourceHandle: image_case
      target: image_recognition_node
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1735876412470-source-file_type_check-false-target-invalid_file_type_answer
      selected: false
      source: file_type_check
      sourceHandle: "false"
      target: invalid_file_type_answer
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: template-transform
      id: 1735876412471-source-audio_transcription_node-target-format_audio_result
      selected: false
      source: audio_transcription_node
      sourceHandle: source
      target: format_audio_result
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: template-transform
      id: 1735876412472-source-image_recognition_node-target-format_image_result
      selected: false
      source: image_recognition_node
      sourceHandle: source
      target: format_image_result
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: template-transform
      id: 1735876412473-source-format_audio_result-target-create_sheets_data_audio
      selected: false
      source: format_audio_result
      sourceHandle: source
      target: create_sheets_data_audio
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: template-transform
      id: 1735876412474-source-format_image_result-target-create_sheets_data_image
      selected: false
      source: format_image_result
      sourceHandle: source
      target: create_sheets_data_image
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: tool
      id: 1735876412475-source-create_sheets_data_audio-target-write_to_sheets_audio
      selected: false
      source: create_sheets_data_audio
      sourceHandle: source
      target: write_to_sheets_audio
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: template-transform
        targetType: tool
      id: 1735876412476-source-create_sheets_data_image-target-write_to_sheets_image
      selected: false
      source: create_sheets_data_image
      sourceHandle: source
      target: write_to_sheets_image
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1735876412477-source-write_to_sheets_audio-target-audio_success_answer
      selected: false
      source: write_to_sheets_audio
      sourceHandle: source
      target: audio_success_answer
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: tool
        targetType: answer
      id: 1735876412478-source-write_to_sheets_image-target-image_success_answer
      selected: false
      source: write_to_sheets_image
      sourceHandle: source
      target: image_success_answer
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 開始
        type: start
        variables:
        - label: ファイル
          max_length: 48
          options: []
          required: true
          type: file
          variable: file
          file_upload:
            allowed_file_extensions:
              - .MP3
              - .MP4
              - .MPEG
              - .MPGA
              - .M4A
              - .WAV
              - .WEBM
              - .JPG
              - .JPEG
              - .PNG
              - .WEBP
              - .HEIC
              - .PDF
            allowed_file_types:
              - audio
              - image
              - document
        - label: ファイル名
          max_length: 500
          options: []
          required: true
          type: text-input
          variable: file_name
      height: 126
      id: start
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        type: if-else
        cases:
          - id: audio_case
            case_id: audio_case
            conditions:
              - variable_selector:
                  - start
                  - file_name
                comparison_operator: end with
                value: ".mp3"
            logical_operator: or
          - id: image_case
            case_id: image_case
            conditions:
              - variable_selector:
                  - start
                  - file_name
                comparison_operator: end with
                value: ".jpg"
              - variable_selector:
                  - start
                  - file_name
                comparison_operator: end with
                value: ".png"
              - variable_selector:
                  - start
                  - file_name
                comparison_operator: end with
                value: ".pdf"
            logical_operator: or
        desc: "音声ファイルか画像ファイルかを判定"
        selected: false
        title: "ファイルタイプ判定"
      height: 176
      id: file_type_check
      position:
        x: 380
        y: 282
      positionAbsolute:
        x: 380
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: false
        provider_id: lysonober/openai_audio/openai_audio_stt
        provider_name: lysonober/openai_audio/openai_audio_stt
        provider_type: builtin
        selected: false
        title: 音声文字起こし
        tool_configurations:
          model: gpt-4o-transcribe
          output_format: default
          response_format: text
          stream: 1
          timestamp_granularities: none
          transcription_type: transcribe
        tool_label: 音声文字起こし
        tool_name: openai_audio_stt
        tool_parameters:
          file:
            type: variable
            value:
            - start
            - file
          language:
            type: mixed
            value: ''
          prompt:
            type: mixed
            value: 音声ファイルを文字起こししてください
        type: tool
      height: 220
      id: audio_transcription_node
      position:
        x: 680
        y: 180
      positionAbsolute:
        x: 680
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: '画像内容を分析・説明'
        model:
          completion_params: {}
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: system-prompt
          role: system
          text: |
            この画像に何が写っていますか？詳細に説明してください。
            以下の項目について分析してください：
            1. 画像に含まれる物体や人物
            2. テキスト情報（あれば読み取ってください）
            3. 色彩情報
            4. 全体的な印象
        - id: user-prompt
          role: user
          text: アップロードされた画像を分析してください。
        selected: false
        structured_output_enabled: false
        title: 画像認識処理
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector: []
          enabled: true
      height: 150
      id: image_recognition_node
      position:
        x: 680
        y: 450
      positionAbsolute:
        x: 680
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: "申し訳ございません。対応していないファイル形式です。\n音声ファイル（.mp3, .wav, .m4a）または画像ファイル（.jpg, .png, .pdf）をアップロードしてください。"
        selected: false
        title: 無効なファイル形式
        type: answer
        variables: []
      height: 107
      id: invalid_file_type_answer
      position:
        x: 680
        y: 650
      positionAbsolute:
        x: 680
        y: 650
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        type: template-transform
        template: |
          処理タイプ：音声認識
          ファイル名：{{ file_name }}
          
          認識結果：
          {{ transcription_result }}
        variables:
          - variable: file_name
            value_selector: [start, file_name]
            value_type: string
          - variable: transcription_result
            value_selector: [audio_transcription_node, text]
            value_type: string
        selected: false
        title: "音声結果整形"
      height: 54
      id: format_audio_result
      position:
        x: 980
        y: 180
      positionAbsolute:
        x: 980
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        type: template-transform
        template: |
          処理タイプ：画像認識
          ファイル名：{{ file_name }}
          
          認識結果：
          {{ recognition_result }}
        variables:
          - variable: file_name
            value_selector: [start, file_name]
            value_type: string
          - variable: recognition_result
            value_selector: [image_recognition_node, text]
            value_type: string
        selected: false
        title: "画像結果整形"
      height: 54
      id: format_image_result
      position:
        x: 980
        y: 450
      positionAbsolute:
        x: 980
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        type: template-transform
        template: |
          [{
            "range": "認識処理ログ!A:D",
            "values": [
              ["2025/01/04 10:00", {{ file_name|tojson }}, "音声認識", {{ transcription_result|tojson }}]
            ]
          }]
        variables:
          - variable: file_name
            value_selector: [start, file_name]
            value_type: string
          - variable: transcription_result
            value_selector: [audio_transcription_node, text]
            value_type: string
        selected: false
        title: "Sheets用データ作成（音声）"
      height: 54
      id: create_sheets_data_audio
      position:
        x: 1280
        y: 180
      positionAbsolute:
        x: 1280
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        type: template-transform
        template: |
          [{
            "range": "認識処理ログ!A:D",
            "values": [
              ["2025/01/04 10:00", {{ file_name|tojson }}, "画像認識", {{ recognition_result|tojson }}]
            ]
          }]
        variables:
          - variable: file_name
            value_selector: [start, file_name]
            value_type: string
          - variable: recognition_result
            value_selector: [image_recognition_node, text]
            value_type: string
        selected: false
        title: "Sheets用データ作成（画像）"
      height: 54
      id: create_sheets_data_image
      position:
        x: 1280
        y: 450
      positionAbsolute:
        x: 1280
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        type: tool
        provider_id: omluc/google_sheets/google_sheets
        provider_name: omluc/google_sheets/google_sheets
        provider_type: builtin
        tool_label: Batch Update
        tool_name: batch_update
        tool_description: Updates multiple ranges in a Google Sheet with specified values
        is_team_authorization: true
        output_schema: null
        tool_configurations:
          include_values_in_response: null
          response_date_time_render_option: null
          response_value_render_option: null
          value_input_option: USER_ENTERED
        tool_parameters:
          data:
            type: mixed
            value: '{{#create_sheets_data_audio.output#}}'
          spreadsheet_id:
            type: mixed
            value: "1dd5IPZBYY5ZtImb48SLnO8c9b4Z8w5YUr1gWF0STqSQ"
        selected: false
        title: "音声結果記録"
        desc: ''
      height: 162
      id: write_to_sheets_audio
      position:
        x: 1580
        y: 180
      positionAbsolute:
        x: 1580
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        type: tool
        provider_id: omluc/google_sheets/google_sheets
        provider_name: omluc/google_sheets/google_sheets
        provider_type: builtin
        tool_label: Batch Update
        tool_name: batch_update
        tool_description: Updates multiple ranges in a Google Sheet with specified values
        is_team_authorization: true
        output_schema: null
        tool_configurations:
          include_values_in_response: null
          response_date_time_render_option: null
          response_value_render_option: null
          value_input_option: USER_ENTERED
        tool_parameters:
          data:
            type: mixed
            value: '{{#create_sheets_data_image.output#}}'
          spreadsheet_id:
            type: mixed
            value: "1dd5IPZBYY5ZtImb48SLnO8c9b4Z8w5YUr1gWF0STqSQ"
        selected: false
        title: "画像結果記録"
        desc: ''
      height: 162
      id: write_to_sheets_image
      position:
        x: 1580
        y: 450
      positionAbsolute:
        x: 1580
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: |
          音声認識処理が完了しました。
          
          {{#format_audio_result.output#}}
          
          結果はGoogle Sheetsに記録されました。
        selected: false
        title: 音声処理完了
        type: answer
        variables: []
      height: 107
      id: audio_success_answer
      position:
        x: 1880
        y: 180
      positionAbsolute:
        x: 1880
        y: 180
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: |
          画像認識処理が完了しました。
          
          {{#format_image_result.output#}}
          
          結果はGoogle Sheetsに記録されました。
        selected: false
        title: 画像処理完了
        type: answer
        variables: []
      height: 107
      id: image_success_answer
      position:
        x: 1880
        y: 450
      positionAbsolute:
        x: 1880
        y: 450
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244