Dev/知識検索/helpdesk_support_bot_8924.yml
app:
  description: "社内ヘルプデスクサポートボット - システム関連、業務手順、その他の問い合わせに対応"
  icon: "🎧"
  icon_background: "#E0E7FF"
  mode: advanced-chat
  name: "社内ヘルプデスクサポートボット"
  use_icon_as_answer_icon: false

dependencies: []

kind: app

version: 0.3.0

workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      enabled: false
    opening_statement: |
      こんにちは！社内ヘルプデスクサポートボットです。
      システム関連や業務手順についてお答えします。
      どのようなお困りごとがございますか？
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
      - システムにログインできません
      - 業務手順について教えてください
      - パスワードをリセットしたいです
      - 申請書の提出方法を知りたいです
    suggested_questions_after_answer:
      enabled: true
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
      - data:
          isInLoop: false
          sourceType: start
          targetType: llm
        id: start-classify-edge
        selected: false
        source: start_node
        sourceHandle: source
        target: classify_inquiry_node
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInLoop: false
          sourceType: llm
          targetType: if-else
        id: classify-condition1-edge
        selected: false
        source: classify_inquiry_node
        sourceHandle: source
        target: inquiry_type_check_node
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInLoop: false
          sourceType: if-else
          targetType: knowledge-retrieval
        id: condition1-knowledge1-edge
        selected: false
        source: inquiry_type_check_node
        sourceHandle: system_related
        target: knowledge_search_node
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInLoop: false
          sourceType: if-else
          targetType: knowledge-retrieval
        id: condition1-knowledge2-edge
        selected: false
        source: inquiry_type_check_node
        sourceHandle: business_process
        target: knowledge_search_node
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInLoop: false
          sourceType: if-else
          targetType: answer
        id: condition1-general-edge
        selected: false
        source: inquiry_type_check_node
        sourceHandle: "false"
        target: general_guidance_node
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInLoop: false
          sourceType: knowledge-retrieval
          targetType: llm
        id: knowledge-judge-edge
        selected: false
        source: knowledge_search_node
        sourceHandle: source
        target: judge_search_result_node
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInLoop: false
          sourceType: llm
          targetType: if-else
        id: judge-condition2-edge
        selected: false
        source: judge_search_result_node
        sourceHandle: source
        target: search_result_check_node
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInLoop: false
          sourceType: if-else
          targetType: llm
        id: condition2-generate-edge
        selected: false
        source: search_result_check_node
        sourceHandle: has_result
        target: generate_answer_node
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInLoop: false
          sourceType: if-else
          targetType: answer
        id: condition2-helpdesk-edge
        selected: false
        source: search_result_check_node
        sourceHandle: "false"
        target: helpdesk_guidance_node
        targetHandle: target
        type: custom
        zIndex: 0
      - data:
          isInLoop: false
          sourceType: llm
          targetType: answer
        id: generate-answer-edge
        selected: false
        source: generate_answer_node
        sourceHandle: source
        target: final_answer_node
        targetHandle: target
        type: custom
        zIndex: 0
    nodes:
      - data:
          desc: ''
          selected: false
          title: 開始
          type: start
          variables: []
        height: 54
        id: start_node
        position:
          x: 50
          y: 200
        positionAbsolute:
          x: 50
          y: 200
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: "問い合わせ内容を分類"
          memory:
            enabled: false
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.3
              max_tokens: 500
            mode: chat
            name: gpt-4
            provider: openai
          prompt_template:
            - id: system-prompt
              role: system
              text: |
                あなたは問い合わせ内容を分類する専門家です。
                ユーザーの問い合わせを以下の3つのカテゴリーに分類してください：
                
                1. システム関連: ログイン、パスワード、システムエラー、アプリケーションの使い方など
                2. 業務手順: 申請方法、承認フロー、業務プロセス、書類の提出方法など
                3. その他: 上記に該当しない一般的な問い合わせ
                
                分類結果は必ず「システム関連」「業務手順」「その他」のいずれか1つを出力してください。
            - id: user-prompt
              role: user
              text: |
                以下の問い合わせを分類してください：
                {{#sys.query#}}
          selected: false
          structured_output_enabled: false
          title: 問い合わせ分類
          type: llm
          variables: []
          vision:
            enabled: false
        height: 98
        id: classify_inquiry_node
        position:
          x: 350
          y: 200
        positionAbsolute:
          x: 350
          y: 200
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          cases:
            - id: system_related
              case_id: system_related
              conditions:
                - id: system_condition_1
                  variable_selector:
                    - classify_inquiry_node
                    - text
                  comparison_operator: contains
                  value: "システム関連"
                  varType: string
              logical_operator: and
            - id: business_process
              case_id: business_process
              conditions:
                - id: business_condition_1
                  variable_selector:
                    - classify_inquiry_node
                    - text
                  comparison_operator: contains
                  value: "業務手順"
                  varType: string
              logical_operator: and
          desc: "分類結果による分岐"
          selected: false
          title: 分類結果チェック
          type: if-else
        height: 198
        id: inquiry_type_check_node
        position:
          x: 650
          y: 200
        positionAbsolute:
          x: 650
          y: 200
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          dataset_ids:
            - "7ccfkMYSp7EbvPLfz84xM+MGWesznlJf6laOpWdSR4vOjJa6XZ3W7JdALMg/4IRY"
          desc: ''
          query_variable_selector:
            - sys
            - query
          retrieval_mode: single
          selected: false
          title: 知識検索
          type: knowledge-retrieval
        height: 92
        id: knowledge_search_node
        position:
          x: 950
          y: 150
        positionAbsolute:
          x: 950
          y: 150
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: "検索結果の有無を判定"
          memory:
            enabled: false
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.1
              max_tokens: 200
            mode: chat
            name: gpt-4
            provider: openai
          prompt_template:
            - id: system-prompt
              role: system
              text: |
                あなたは検索結果の判定を行う専門家です。
                知識検索の結果を確認し、ユーザーの問い合わせに対して有用な情報が含まれているかを判定してください。
                
                判定結果は「有用な情報あり」または「有用な情報なし」のいずれかを出力してください。
            - id: user-prompt
              role: user
              text: |
                ユーザーの問い合わせ：{{#sys.query#}}
                
                検索結果：
                {{#knowledge_search_node.result#}}
                
                上記の検索結果にユーザーの問い合わせに答えるための有用な情報が含まれていますか？
          selected: false
          structured_output_enabled: false
          title: 検索結果判定
          type: llm
          variables: []
          vision:
            enabled: false
        height: 98
        id: judge_search_result_node
        position:
          x: 1250
          y: 150
        positionAbsolute:
          x: 1250
          y: 150
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          cases:
            - id: has_result
              case_id: has_result
              conditions:
                - id: result_condition_1
                  variable_selector:
                    - judge_search_result_node
                    - text
                  comparison_operator: contains
                  value: "有用な情報あり"
                  varType: string
              logical_operator: and
          desc: "検索結果の有無で分岐"
          selected: false
          title: 検索結果チェック
          type: if-else
        height: 154
        id: search_result_check_node
        position:
          x: 1550
          y: 150
        positionAbsolute:
          x: 1550
          y: 150
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          context:
            enabled: false
            variable_selector: []
          desc: "検索結果を基に回答生成"
          memory:
            enabled: false
            window:
              enabled: false
              size: 10
          model:
            completion_params:
              temperature: 0.7
              max_tokens: 1000
            mode: chat
            name: gpt-4
            provider: openai
          prompt_template:
            - id: system-prompt
              role: system
              text: |
                あなたは親切で知識豊富な社内ヘルプデスクのサポート担当者です。
                検索結果を基に、ユーザーの問い合わせに対して分かりやすく丁寧に回答してください。
                
                回答のガイドライン：
                - 具体的で実用的な情報を提供する
                - 必要に応じて手順を番号付きで説明する
                - 専門用語は分かりやすく説明する
                - 追加のサポートが必要な場合は案内する
            - id: user-prompt
              role: user
              text: |
                ユーザーの問い合わせ：{{#sys.query#}}
                
                参考情報：
                {{#knowledge_search_node.result#}}
                
                上記の参考情報を基に、ユーザーの問い合わせに回答してください。
          selected: false
          structured_output_enabled: false
          title: 回答生成
          type: llm
          variables: []
          vision:
            enabled: false
        height: 98
        id: generate_answer_node
        position:
          x: 1850
          y: 100
        positionAbsolute:
          x: 1850
          y: 100
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          answer: |
            {{#generate_answer_node.text#}}
            
            他にご不明な点がございましたら、お気軽にお尋ねください。
          desc: ''
          selected: false
          title: 最終回答
          type: answer
          variables: []
        height: 374
        id: final_answer_node
        position:
          x: 2150
          y: 100
        positionAbsolute:
          x: 2150
          y: 100
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          answer: |
            申し訳ございません。お問い合わせいただいた内容について、現在利用可能な情報が見つかりませんでした。
            
            より詳細なサポートが必要な場合は、以下の方法でヘルプデスクにお問い合わせください：
            
            📞 内線番号：1234
            📧 メール：helpdesk@company.com
            🖥️ ポータルサイト：社内ポータル > ITサポート > お問い合わせ
            
            営業時間：平日 9:00-18:00
            
            お急ぎの場合は、お電話でのお問い合わせをおすすめします。
          desc: ''
          selected: false
          title: ヘルプデスク案内
          type: answer
          variables: []
        height: 461
        id: helpdesk_guidance_node
        position:
          x: 1850
          y: 250
        positionAbsolute:
          x: 1850
          y: 250
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
      - data:
          answer: |
            お問い合わせありがとうございます。
            
            いただいたご質問は一般的なお問い合わせとして承りました。
            
            以下の窓口からお問い合わせいただくか、より具体的な内容でご質問いただけますと、詳しいサポートが可能です：
            
            【お問い合わせ窓口】
            - 総務部：内線 2345（施設・備品関連）
            - 人事部：内線 3456（勤務・福利厚生関連）
            - 経理部：内線 4567（経費・請求関連）
            - ITヘルプデスク：内線 1234（システム関連）
            
            どのようなことでお困りか、もう少し詳しく教えていただけますか？
          desc: ''
          selected: false
          title: 一般案内
          type: answer
          variables: []
        height: 461
        id: general_guidance_node
        position:
          x: 950
          y: 350
        positionAbsolute:
          x: 950
          y: 350
        selected: false
        sourcePosition: right
        targetPosition: left
        type: custom
        width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.6